
/* @format */
 #app{
  display: grid;
  height: 100%;
  width: 100%;
  /* grid-template-rows: 30vh 65vh 10vh;
  grid-template-columns: repeat(1fr);
  grid-template-areas: "header header"
                       "main main"
                       "footer footer"; */

}

body{
  background-color: var(--color-background);
}

.header{
 /* grid-area: header;*/
  color: var(--color-text-primary);
  background-color: var(--color-background-ton_2);
  padding: 2.5rem 4rem 0rem 1.6rem;
  text-align: left;
}

.header__h1{
  font-size: 4rem;
  font-weight: 700;
}

.header__h2{
  font-size: 2rem;
  margin-top: 2rem;
}

.header__h3{
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.header__container-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

.header__buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.header__button{
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  background-color: var(--color-background);

  border: 1px solid var(--color-background-ton_2);
  box-shadow: 0px 1px 6px #00000029;
  margin-bottom: 1.8rem;
}
.header__button a{
  color: var(--color-text-secondary);
  text-decoration: none;
}


/* Conteúdo */

.main{
 /* grid-area: main;*/
  background-color: var(--color-background);
  padding: 2.5rem 4rem 0rem 1.6rem;
}

.main__h1{
  color: var(--color-text-secondary);
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.main__p{
 
  margin-bottom: 1.8rem;
  line-height: 1.8rem;
}

.section__head-invite{
  margin-bottom: 3rem;
}


.form__isValid-name{
 display: none;
}


.form__isValid-cpf{
  display: none;
 }


.form__isValid-email{
  display: none;
 }
 
 .form__isValid-name-invite{
 display: none;
}


.form__isValid-cpf-invite{
  display: none;
 }

.form__isValid-email-invite{
  display: none;
 }
 
 
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-ton_2);
  width: 100%;
  height: 150px;
  bottom: 0;
}
.footer__content{
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  color: var(--color-text-primary);
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}
.footer__h3{
  line-height: 2rem;
}


@media screen and (max-width: 410px){
  .header__h1{
    font-size: 3.6rem;
  }
  .header__h2{
    font-size: 2rem;
  }
  .header__h3{
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 378px){
  .header__h1{
    font-size: 3rem;
  }
} 

@media screen and (min-width:590px){

  .header__container-buttons{
    justify-content: space-evenly;
  } 

  .header__buttons{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-evenly;
    align-items: center;
    max-width: 400px;
  }

  .header__button{
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  
}

@media screen and (min-width: 750px) and (max-width: 975px){
  .section{
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
  }
  #section-products{
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 125rem;
    max-width: 28rem;
  }
  .section__products{
   margin-top: 5rem;
  }
  .section__button-more{
   width: 30rem;
   margin: 5rem auto;
  margin-bottom: 9rem;
  }

  .section__invite--desktop{
    justify-content: center;
    margin: auto;
  }

  .section__head{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section__line{
    border: 0.7px solid var(--color-background-ton_2);
    background-color: var(--color-background-ton_2);
    width: 100%;
  }
  .section__h1{
    text-align: center;
    font-size: 1.7rem;
    color: var(--color-text-secondary);
    font-weight: bold;
  }
  .form{
    min-width:340px;
  }
}


/* Layout desktop */
@media screen and (min-width:975px){
  .section{
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
  }
  #section-products{
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
    max-width: 750px;
  }
  .section__invite--desktop{
    justify-content: center;
    margin: auto;
  }
  .section__button-more{
    width: 30rem;
    margin: 5rem auto;
   margin-bottom: 9rem;
   }
 
  .section__head{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section__line{
    border: 0.7px solid var(--color-background-ton_2);
    background-color: var(--color-background-ton_2);
    width: 100%;
  }
  .section__h1{
    text-align: center;
    font-size: 1.7rem;
    color: var(--color-text-secondary);
    font-weight: bold;
  }
  .form{
    min-width:340px;
  }

}

@media screen and (min-width: 1024px){

  .header{
      text-align: center;
  }
  .header__container-buttons{
    justify-content: center;
    margin-top: 7rem;
    line-height: 4rem;
  }
  .header__buttons{
    max-width: 50rem;
    justify-content: space-around;
  }
  .section__button-more{
    width: 30rem;
    margin: 5rem auto;
   margin-bottom: 9rem;
   }
 
  .main--desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6rem;
    max-width: 90rem;
    margin: 0 auto;
  }
  .main--desktop-intro{
    display: flex;
    flex-direction: column;
    max-width: 52rem;
    margin-right: 6rem;
   
  }
  .main--desktop-form{
    display: flex;
    flex-direction: column;
    max-width: 340px;
  }


}
