/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
 	border-spacing: 0;
}

:root{
	font-size: 10px;
	--color-background:#FFF;
	--color-background-ton_2: #707070;
	--color-text-primary: #FFFF;
	--color-text-secondary: #888888;
}

.btn{
  align-self: stretch;
  text-decoration: none;
	color: var(--color-text-secondary);
	font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid var(--color-background-ton_2);
  border-radius: 0.4rem;
}
.p{
	color: var(--color-text-secondary);
  text-align: left;
  font-size: 1.2rem;
 
}

.section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__head{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section__line{
  border: 0.7px solid var(--color-background-ton_2);
  background-color: var(--color-background-ton_2);
  width: 40%;
}
.section__h1{
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  color: var(--color-text-secondary);
  font-weight: bold;
}
.section__button-more{
  height: 3.9rem;
  margin-top: 3.8rem;
  margin-bottom: 9rem;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.form__input-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.form__input{
  align-self: stretch;
  height: 3rem;
}
.form__label{
  color: var(--color-text-secondary);
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.form__radio-group{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}

.form__button-send{
  height: 3.9rem;
  margin-bottom: 9rem;
}

.form__isValid{
  margin-top: 3px;
  text-align: left;
  border-radius:2px;
  font-size: 1.2rem;
  background-color: transparent;
  color: red;
  width: 90%;
}